<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="container">
        <div class="background"></div>
        <form id="loginForm">
          <h1 class="loginHeading"><span>Student</span> Login</h1>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder=" Enter Username" id="username"/>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter Password" id="password"/>
        <h4 class="loginType">Login as <span>Admin.</span></h4>
        <button type="submit">Login</button>
      </form>
    </div>
    <script src="/javaScript/login.js"></script>
  </body>
</html>
